VITE_API_URL=http://localhost:5000/api
VITE_WHATSAPP_NUMBER=917067698821
VITE_CONTACT_EMAIL=rajxxlodhi21@gmail.com
VITE_INSTAGRAM_URL=https://www.instagram.com/ll._.raj_.ll/?hl=en
VITE_YOUTUBE_URL=https://www.youtube.com/@rajvlogs21
VITE_LINKEDIN_URL=https://www.linkedin.com/in/rajkumar-lodhi-90181b339?utm_source=share_via&utm_content=profile&utm_medium=member_android
VITE_BEHANCE_URL=https://behance.net/
